body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

h1 {
    color: #343a40;
}

#search-form {
    margin-bottom: 20px;
}

#query {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}

#results {
    width: 80%;
    max-width: 600px;
}

.recipe {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    cursor: pointer;
    margin: 20px;
}

.recipe img {
    max-width: 100%;
    border-radius: 4px;
    height: auto;
}

#results h2 {
    margin-top: 20px;
}

#results ul {
    list-style-type: none;
    padding: 0;
}

#results ul li {
    margin: 5px 0;
}

#loading-spinner {
    text-align: center;
    margin-top: 20px;
}

#loading-spinner img {
    width: 50px;
    height: 50px;
}

#logo {
    transition: all 0.9s ease;
    border-radius: 100%;
}

#logo:hover {
    content: url('logo_hover.png')
}